<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Cloud Files - Cloud</title>
    <style>
        .delete-form {
            display: inline;
        }
    </style>
</head>
<body>
    <section layout:fragment="content">
        <div th:if="${message != null}" class="my-2 alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${message}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <h1>Cloud</h1>
        <div>
            <h3 th:if="${#lists.isEmpty(items)}">Currently, there are no files available</h3>
            <ul class="list-group">
                <li th:each="item : ${items}" class="list-group-item text-break">
                    <div>
                        <span th:text="${item.name}"></span>
                        <span class="ms-2 badge rounded-pill bg-secondary" th:text="${item.size}"></span>
                    </div>
                    <div class="mt-2">
                        <a class="btn btn-outline-secondary" th:href="@{~/cloud/file(name=${item.name})}"><i class="fa fa-download"></i> Download</a>
                        <form class="delete-form" sec:authorize="hasAuthority('SCOPE_cloudfiles_admin')" th:action="@{~/cloud/file/delete}" method="post">
                            <input type="hidden" name="name" th:value="${item.name}">
                            <button type="submit" class="btn btn-outline-secondary ms-2"><i class="fa fa-trash-alt"></i> Delete</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </section>

</body>
</html>