<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="items">
        <h3 th:if="${#lists.isEmpty(items)}">No imports so far</h3>
        <ul class="list-group">
            <li class="list-group-item text-break" th:each="item : ${items}">
                <div>
                    <th:block th:switch="${item.status}">
                        <i th:case="${T(com.canceledsystems.cloudfiles.imports.web.ImportStatus).RUNNING}" class="fa fa-play-circle text-primary"></i>
                        <i th:case="${T(com.canceledsystems.cloudfiles.imports.web.ImportStatus).WAITING}" class="fa fa-pause-circle text-info"></i>
                        <i th:case="${T(com.canceledsystems.cloudfiles.imports.web.ImportStatus).FAILED}" class="fa fa-exclamation-circle text-danger"></i>
                        <i th:case="${T(com.canceledsystems.cloudfiles.imports.web.ImportStatus).SUCCESS}" class="fa fa-check-circle text-success"></i>
                    </th:block>
                    <span th:text="${item.name}"></span>
                </div>
                <div>
                    <span class="badge rounded-pill bg-secondary" th:text="${item.mimeType}"></span>
                    <span class="badge rounded-pill bg-secondary" th:text="${item.sizeImported + ' / ' + item.totalSize}"></span>
                    <span class="badge rounded-pill bg-secondary" th:text="${'Added ' + #dates.format(item.createdAt, 'HH:mm dd.MM.yyyy')}"></span>
                    <span class="badge rounded-pill bg-secondary" th:if="${item.startedAt != null}" th:text="${'Started ' + #dates.format(item.startedAt, 'HH:mm dd.MM.yyyy')}"></span>
                    <span class="badge rounded-pill bg-secondary" th:if="${item.finishedAt != null}" th:text="${'Finished ' + #dates.format(item.finishedAt, 'HH:mm dd.MM.yyyy')}"></span>

                </div>
                <div th:if="${item.status == T(com.canceledsystems.cloudfiles.imports.web.ImportStatus).RUNNING}" class="progress mt-2">
                    <div class="progress-bar" role="progressbar" th:style="${'width: ' + #numbers.formatDecimal(item.progress,1,0,'POINT') + '%'}" th:aria-valuenow="${#numbers.formatDecimal(item.progress,1,0,'POINT')}" aria-valuemin="0" aria-valuemax="100" th:text="${#numbers.formatDecimal(item.progress,1,1,'POINT') + '%'}">25%</div>
                </div>
            </li>
        </ul>
    </div>

</body>
</html>