<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Cloud Files - Error</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="jumbotron mt-4">
            <h1><i class="fas fa-exclamation-triangle"></i> Arg... something went wrong.</h1>
            <h2 th:text="${status + ' ' + error}"></h2>
        </div>
    </section>
</body>
</html>