<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Cloud Files</title>
</head>
<body>
    <section layout:fragment="content">
        <h3 class="mt-4">Welcome to Cloud Files!</h3>
        <p sec:authorize="!isAuthenticated()">If you want to explore the available files, please <a th:href="@{~/cloud}">login</a>!</p>
        <div sec:authorize="isAuthenticated()">
            <p th:if="${!#strings.isEmpty(@homeProperties.greetingText)}" th:utext="${@homeProperties.greetingText}">

            </p>
            <p>
                <a th:href="@{~/cloud}">Explore the cloud files</a>
            </p>
        </div>
    </section>
</body>
</html>