<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Cloud Files</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
          th:href="@{/webjars/font-awesome/css/all.css}"/>
    <style>
        .navbar-brand i {
            color: rgba(191, 5, 43, 1);
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{~/}"><i class="fas fa-cloud-download-alt"></i> Cloud Files</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${requestPath == '/' ? 'active' : ''}" th:href="@{~/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${requestPath.startsWith('/cloud') ? 'active' : ''}" th:href="@{~/cloud}">Cloud</a>
                </li>
                <li sec:authorize="hasAuthority('SCOPE_cloudfiles_admin')" class="nav-item">
                    <a class="nav-link" th:classappend="${requestPath.startsWith('/pme') ? 'active' : ''}" th:href="@{~/pme/folder}">Premiumize.me</a>
                </li>
                <li sec:authorize="hasAuthority('SCOPE_cloudfiles_admin')" class="nav-item">
                    <a class="nav-link" th:classappend="${requestPath.startsWith('/imports') ? 'active' : ''}" th:href="@{~/imports}">Imports</a>
                </li>
            </ul>
            <a sec:authorize="!isAuthenticated()" class="btn btn-outline-light" th:href="@{~/cloud}">
                <i class="fas fa-sign-in-alt"></i> login
            </a>
            <form sec:authorize="isAuthenticated()" th:action="@{~/logout}" method="post">
                <button class="btn btn-outline-light" type="submit" value="logout"><i class="fas fa-sign-out-alt"></i> logout</button>
            </form>
        </div>
    </div>
</nav>
<section class="container mt-3" layout:fragment="content">
    CONTENT
</section>
<script th:src="@{~/webjars/bootstrap/js/bootstrap.min.js}"></script>
<footer layout:fragment="footer">

</footer>
</body>
</html>