<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Cloud Files - Premiumize.me</title>
    <style>
        #notification-toast {
            left: 50%;
            position: fixed;
            transform: translate(-50%, 0px);
            bottom: 0;
            margin: 0.5em;
            z-index: 1200;
        }
    </style>
    <script type="application/javascript">
        function showToast(text, color) {
            const element = document.getElementById('notification-toast');
            element.getElementsByClassName('notification-message')[0].innerHTML = text;
            element.getElementsByClassName('notification-rect')[0].setAttribute('fill', color);
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(element);
            toastBootstrap.show();
        }

        function importFile(form) {
            const importUrl = form.getAttribute('action');
            const formData = new FormData(form);
            fetch(importUrl, {
                method: 'POST',
                body: formData
            }).then(response => {
                if (response.status === 200) {
                    response.text().then(() =>showToast('Started import of file', '#198754'));
                } else {
                    showToast(`Failed to import file: ${response.status}`, '#dc3545');
                }
            });
        }
    </script>
</head>
<body>
    <section layout:fragment="content">
        <nav aria-label="breadcrumb">
            <ol class="mt-3 breadcrumb">
                <li th:each="breadcrumb : ${folder.breadcrumbs}" class="breadcrumb-item" th:classappend="${breadcrumb.id == folder.id ? 'active' : ''}">
                    <a th:if="${breadcrumb.id != folder.id}" th:text="${breadcrumb.name}" th:href="@{/pme/folder/{folderId}(folderId=${breadcrumb.id})}">Home</a>
                    <span th:if="${breadcrumb.id == folder.id}" th:text="${breadcrumb.name}">Home</span>
                </li>
            </ol>
        </nav>
        <h1 class="mt-2 text-break" th:text="${folder.name}">Name</h1>
        <ul class="mt-2 list-group">
            <li th:if="${#lists.size(folder.breadcrumbs) > 1}" class="list-group-item text-break">
                <a th:href="@{/pme/folder/{folderId}(folderId=${folder.parentId})}"><i class="fas fa-folder"></i> ..</a>
            </li>
            <li th:each="item: ${folder.items}" class="list-group-item text-break">
                <a th:if="${item.type == 'folder'}" th:href="@{/pme/folder/{folderId}(folderId=${item.id})}"><i class="fas fa-folder"></i> <span th:text="${item.name}">Folder</span></a>
                <span th:if="${item.type == 'file'}"><i class="fas fa-file-alt"></i> <span th:text="${item.name}">File</span><br />
                    <form th:action="@{/imports/pme/{fileId}(fileId=${item.id})}" method="post" onsubmit="importFile(this); return false">
                        <button type="submit" class="btn btn-outline-secondary">import</button>
                    </form>
                </span>
            </li>
        </ul>
        <div id="notification-toast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-header">
                    <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect class="notification-rect" width="100%" height="100%" fill="#007aff"></rect></svg>
                    <strong class="notification-message">Notification</strong>
                </div>
            </div>
        </div>
    </section>
</body>
</html>